@import "tailwindcss";

@layer base {

    html {
        overflow-x: hidden;
    }

    body {
        background: rgb(251, 248, 237);
        overflow-x: hidden !important;
        background-image: linear-gradient(135deg, #fdfcfb 0%, rgb(255 251 238) 100%);
        background-attachment: fixed;
    }

    * {
        @apply m-0 p-0 box-border border-0 align-baseline;
        font-family: Poppins, sans-serif;
        font-weight: 400;
    }

    h1, h2, h3, h4, h5, h6, p, a, span, li, label, tr, td, 
    article, aside, details, figcaption, figure, footer, 
    header, hgroup, main, menu, nav, summary, input, textarea, select {
        font-family: var(--font-family);
        font-weight: 400;
        color: var(--text-color);
    }

    @media screen and (max-width: 1100px) {
        :root {
            --mtop: 70px;
        }
    }

    @media screen and (max-width: 992px) {
        :root {
            --mtop: 61px;
        }
    }

    @media screen and (max-width: 769px) {
        :root {
            --mtop: 50px;
        }
    }

    h1, h1 b, h2, h2 span {
        font-family: var(--tit-font);
    }

    a {
        transition: all 0.5s ease 0s;
        text-decoration: none;
    }

    a:hover {
        transition: all 0.5s ease 0s;
        text-decoration: none;
    }

    ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    li {
        list-style-type: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote::before, blockquote::after, q::before, q::after {
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0px;
    }

    img {
        max-width: 100%;
        object-fit: cover;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    :root {
        --bs-gutter-x: 1.5rem; /* Default Bootstrap gutter */
      }
      
      .container {
        width: 100%;
        padding-right: var(--bs-gutter-x, 1.5rem);
        padding-left: var(--bs-gutter-x, 1.5rem);
        margin-right: auto;
        margin-left: auto;
      }
      
      @media (min-width: 576px) {
        .container {
          max-width: 540px;
        }
      }
      
      @media (min-width: 768px) {
        .container {
          max-width: 720px;
        }
      }
      
      @media (min-width: 992px) {
        .container {
          max-width: 960px;
        }
      }
      
      @media (min-width: 1200px) {
        .container {
          max-width: 1140px;
        }
      }
      
      @media (min-width: 1400px) {
        .container {
          max-width: 1320px;
        }
      }
      



























}



@keyframes rotat-light {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes growOut {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    80% {
        transform: scale(1.01);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.ping {
    animation: load 1.5s ease infinite;
}

@keyframes load {
    0% {
        background: rgb(246, 175, 4);
        box-shadow: rgba(246, 175, 4, 1) 0px 0px 0px 0px;
    }
    
    70% {
        background: rgb(246, 175, 4);
        background: rgb(246, 175, 4);
        box-shadow: rgba(246, 175, 4, 0) 0px 0px 0px 15px;
    }
    
    100% {
        background: rgb(246, 175, 4);
        box-shadow: rgba(246, 175, 4, 0) 0px 0px 0px 0px;
    }
}


@keyframes menuact {
    from {
      top: -150px;
    }
    to {
      top: 0px;
    }
  }
  
  @layer utilities {
    .animate-menuact {
      animation: menuact 0.5s linear both;
    }
  }
  